.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-container {
  display: flex;
  height: 400px;
}

.flex-child {
  flex: 1;
} 

.flex-scrolled-child {
  flex: 1;
  overflow-y:scroll;
  overflow-wrap: break-word;
  padding: 80px;
} 